<?xml version="1.0"?>
<launch>
  <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" >
    <param name="video_device" value="/dev/video3" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="map" />
    <param name="io_method" value="mmap"/>
  </node>

  <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0 _baud:=57600" name="rosserial_forwad"/>
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 map base_footprint 10"/>
  <!-- <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find lane_follower)/launch/auto_nav_lane_keep.rviz"/> -->
  <node pkg="lane_follower" type="lane_tracker.py" name="cross_track_error" output="screen"/>
  <node pkg="lane_follower" type="lane_follower_pid.py" name="pid_controller" output="screen"/>
  <node pkg="image_view" type="image_view" name="image_viewer" args="image:=/usb_cam1/image_raw"/>

  <!-- <node pkg="rqt_plot" type="rqt_plot" name="offset_plot" args="/laneOffset/data /cmd_vel/angular/z"/> -->
  <node pkg="rqt_multiplot" type="rqt_multiplot" name="velocity_plot" args="--multiplot-run-all --multiplot-config $(find lane_follower)/pid_controls.xml"/>

</launch>
  <!-- rosrun rosserial_python serial_node.py /dev/ttyUSB0 -->
