<?xml version="1.0"?>
<launch>
  <!-- DRIVE SYSTEM ARDUINO NANO-->
  <!-- <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0 _baud:=57600" name="rosserial_forwad"/> -->

  <!-- LED INDICATOR STRIP NANO-->
  <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0 _baud:=57600" name="rosserial_forwad_led"/>
  
  <!-- CAMERA -->
  <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" >
    <param name="video_device" value="/dev/video3" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="map" />
    <param name="io_method" value="mmap"/>
  </node>
  
  <!-- LIDAR -->
  <!-- <node name="hokuyo_scan" pkg="urg_node" type="urg_node" /> -->
  
  <node name="status_publisher" pkg="lane_follower" type="status.py" output="screen" />

</launch>
